<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal-container">

    <div class="modal-tabs">
      <div class="m-tab active">traduccion</div>
      <div class="m-tab">proximamente</div>
    </div>

    <button class="btn-close" (click)="close()">
      <span class="material-icons">close</span>
    </button>

    <div class="modal">
      <h2 class="modal-title">Traducir orden</h2>
      <hr class="modal-divider" />

      <div class="modal-body">
        <div class="translate-box">
          <div class="box-header">
            <div class="box-header relative-container">
              <div class="searchable-select">
                <input type="text" [(ngModel)]="sourceSearchText" (focus)="sourceDropdownOpen = true"
                  (blur)="closeDropdown('source')" (input)="filterSource()" placeholder="Buscar idioma..." />
              </div>

              <div class="dropdown-menu" *ngIf="sourceDropdownOpen">
                <div class="dropdown-item" (mousedown)="selectLanguage('detect', 'detectar', 'source')">detectar</div>
                <div class="dropdown-item" *ngFor="let lang of filteredSourceLangs"
                  (mousedown)="selectLanguage(lang.language, lang.name, 'source')">
                  {{ lang.name }}
                </div>
              </div>
            </div>
          </div>
          <textarea rows="8" [(ngModel)]="text" (ngModelChange)="onTextChange()"></textarea>
        </div>

        <div class="translate-box">
          <div class="box-header">
            <div class="box-header relative-container">
              <div class="searchable-select">
                <input type="text" [(ngModel)]="targetSearchText" (focus)="targetDropdownOpen = true"
                  (blur)="closeDropdown('target')" (input)="filterTarget()" placeholder="Buscar idioma..." />
              </div>

              <div class="dropdown-menu" *ngIf="targetDropdownOpen">
                <div class="dropdown-item" *ngFor="let lang of filteredTargetLangs"
                  (mousedown)="selectLanguage(lang.language, lang.name, 'target')">
                  {{ lang.name }}
                </div>
              </div>
            </div>
          </div>
          <textarea [(ngModel)]="translatedText" rows="8" readonly></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn-action" (click)="executeAction()" [disabled]="!canTranslate">
          {{ isEditMode ? 'guardar cambios' : 'traducir y guardar' }}
        </button>
      </div>
    </div>
  </div>
</div>