<div class="app-container">
    <app-sidebar></app-sidebar>

    <div class="main-content">
        <router-outlet></router-outlet>
        <div class="translate-header">
            <h2>Especial de los Políglotas</h2>
        </div>

        <div class="translate-list">
            <div class="toolbar">
                <div class="toolbar-left">
                    <div class="search-input">
                        <span class="material-icons">explore</span>
                        <input type="text" placeholder="busca tu próxima obsesión.." [(ngModel)]="searchTerm" />
                    </div>
                    <button class="btn-sort" (click)="toggleSort()">
                        <span class="material-icons">
                            {{ sortAscending ? 'arrow_upward' : 'arrow_downward' }}
                        </span>
                        {{ sortAscending ? 'Ascendente' : 'Descendente' }}
                    </button>
                </div>

                <div class="toolbar-right">
                    <button class="btn-refresh">
                        <span class="material-icons" (click)="loadTranslations()">refresh</span>
                    </button>
                    <button class="btn-new" (click)="transactionModal.open()">
                        <span class="material-icons">note_add</span> Nuevo pedido
                    </button>
                    <app-transaction-modal #transactionModal (closed)="loadTranslations()">></app-transaction-modal>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Estado</th>
                        <th>Texto original</th>
                        <th>Texto traducido</th>
                        <th>Fecha</th>
                        <th>Idioma inicial</th>
                        <th>Idioma final</th>
                        <th class="no-header"></th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of paginatedTranslations">
                        <td class="status-cell">
                            <span class="material-icons" [ngClass]="t.status ? 'active' : 'inactive'">
                                {{ t.status ? 'wifi' : 'wifi_off' }}
                            </span>
                            <span class="status-text" [ngClass]="t.status ? 'active' : 'inactive'">
                                {{ t.status ? 'Activo' : 'Inactivo' }}
                            </span>
                        </td>
                        <td>{{ t.originalText }}</td>
                        <td>{{ t.translatedText }}</td>
                        <td>{{ t.createdAt | date:'yyyy-MM-dd' }}</td>
                        <td>{{ getLanguageName(t.sourceLanguage) }}</td>
                        <td>{{ getLanguageName(t.targetLanguage) }}</td>
                        <td>
                            <span class="material-icons btn-menu" (click)="openMenu(t, $event)">
                                more_vert
                            </span>

                            <div class="menu-popup" *ngIf="t.showMenu" [style.top.px]="t.menuTop"
                                [style.left.px]="t.menuLeft">
                                <button (click)="edit(t)">
                                    <span class="material-icons">edit</span> editar
                                </button>

                                <button *ngIf="t.status" (click)="confirmDelete(t)" class="btn-delete">
                                    <span class="material-icons">delete</span> eliminar
                                </button>

                                <button *ngIf="!t.status" (click)="confirmRestore(t)" class="btn-restore">
                                    <span class="material-icons">restore</span> restaurar
                                </button>

                                <button (click)="view(t)">
                                    <span class="material-icons">visibility</span> ver
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button class="page-btn prev" (click)="prevPage()" [disabled]="currentPage === 1">
                    <span class="material-icons">arrow_left</span>
                    <span class="label">anterior</span>
                </button>

                <span class="page-number">{{ currentPage }}</span>

                <button class="page-btn next" (click)="nextPage()"
                    [disabled]="currentPage * pageSize >= translations.length">
                    <span class="label">próximo</span>
                    <span class="material-icons">arrow_right</span>
                </button>
            </div>
        </div>
    </div>
    <div class="confirm-overlay" *ngIf="showConfirmModal">
        <div class="confirm-modal">
            <button class="btn-close-modal" (click)="closeConfirmModal()">
                <span class="material-icons">close</span>
            </button>

            <div class="confirm-image-container">
                <img src="/manhattancafe.webp" alt="Taza de café" />
            </div>

            <div class="confirm-actions-container">
                <h3 class="confirm-title" *ngIf="confirmActionType === 'delete'">
                    ¿Esta seguro de que desea<br>eliminar esto?
                </h3>
                <h3 class="confirm-title" *ngIf="confirmActionType === 'restore'">
                    ¿Esta seguro de que desea<br>restaurar esto?
                </h3>

                <button class="btn-accept" (click)="executeConfirmAction()">
                    si, acepto las consecuencias
                </button>
                <button class="btn-decline" (click)="closeConfirmModal()">
                    prefiero descartar
                </button>
            </div>
        </div>
    </div>
</div>