<aside class="sidebar">
  <div class="sidebar-top">
    <div class="logo">
      <img src="/cup.png" alt="Coffee Cup" />
      <h2>La casa del café</h2>
    </div>
  </div>

  <div class="sidebar-middle">
    <nav>
      <section class="menu-section">
        <h3>Principal</h3>
        <ul>
          <li><span class="material-icons">dashboard</span> Dashboard</li>
        </ul>
      </section>

      <section class="menu-section">
        <h3>Modulos</h3>
        <ul>
          <li><span class="material-icons">translate</span> Traductor</li>
          <li><span class="material-icons">record_voice_over</span> Texto a Voz</li>
        </ul>
      </section>

      <section class="menu-section">
        <h3>Extras</h3>
        <ul>
          <li><span class="material-icons">info</span> Sobre nosotros</li>
          <li><span class="material-icons">pets</span> Patitas ayudantes</li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="sidebar-bottom"></div>
</aside>
